<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count = "5" parallel="tests">
	<listeners>
		<listener class-name="com.OrangeHrm.utilities.ExtentReportManager"/>
	</listeners>
	<parameter name="browser" value="chrome"/>	
  <test name="verifyAppTitle">
 	<classes>
      <class name="com.OrangeHrm.testCase.verifyAppTitle"/>
    </classes>
  </test> 
  
  <test name="TC001_LoginTest">
    <classes>
      <class name="com.OrangeHrm.testCase.TC001_LoginTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
